@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--font-sans: "Inter", system-ui, -apple-system, sans-serif;
}

html,
body,
#root {
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
